#container
{
    height: 400px;
    width:350px;
    background-color: white;
    border-radius: 15px;
    position:relative;
    padding: 15px;
    overflow: hidden;
}
body
{
    background-color: rgb(46, 200, 200);
    display:flex;
    align-items: center;
    justify-content: center;
}
#container img
{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: center;
}
#container i{
    font-size: 60px;
    color :rgb(226, 226, 240);
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)scale(0);
    opacity: 0.7;
    transition: transform ease 0.5s;

}
html,body
{
    height: 100%;
    width:100%;
}